<!-- Flask/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}HemoSense{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script defer src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
  <div class="app-wrapper">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
